html, body {
    background-color: rgb(25, 25, 25);
    margin: 0;
}

.layout {
    display: flex;
    flex: 1;
    flex-direction: column;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.layout .topbar {
    background-color: rgb(20, 20, 20);
    padding: .5rem;
    width: 100%;
    justify-items: center;

    input {
        display: block;
        border: 0;
        padding: 0.5rem;
        background-color: rgb(15, 15, 15);
        width: 15rem;
        color: white;
        outline: none;
    }
}

.layout .container {
    align-self: center;
    justify-self: center;
    justify-items: center;
    text-align: center;
    width: 85%;
    display: flex;
    flex-direction: column;
}